doctype html
html(lang="zh-cn")
	head
		title 业务融合演示
		meta(charset='utf-8')
		script(src='./js/jquery-1.12.4.min.js')
		script(src='./js/d3.min.js')
		script(src='./js/index.js')
		script(src='./js/jquery.easing.min.js')
		link(rel='stylesheet' type='text/css' href='./css/font-awesome.min.css')
		link(rel='stylesheet' type='text/css' href='./css/style.css')
	body
		//- Mixin declaration
		mixin column(title)
			article
				.header
					span= title
				.topo
					svg.topo
				.panel
					if block
						block
					else
						p.empty No content provided

		#container
			+column('Data Center admin(Firewall)')
				p Deny list: 
					input(type='text' name='deny')
					button.add_d
						i.fa.fa-plus-circle(aria-hidden=true)
						="添加"
				p Allow list:
					input(type='text' name='allow')
					button.add_a 
						i.fa.fa-plus-circle(aria-hidden=true)
						="添加"
				button.start
					i.fa.fa-play-circle(aria-hidden=true)
					="启动测试"
			+column('Web app admin(Load Balance)')
				p
					span 开启负载均衡
					span.shift
						span.button
				button.start
					i.fa.fa-play-circle(aria-hidden=true)
					="启动测试"
			+column('MMS admin(Billing)')
				p H1 到 Web Server1 的流量已计费：
				p H2 到 Web Server1 的流量已计费：
				p H1 到 Web Server2 的流量已计费：
				p H2 到 Web Server2 的流量已计费：
				button.start_catch
					i.fa.fa-play-circle(aria-hidden=true)
					="获取流量"
		#merge
			button#merge_b
				i.fa.fa-rocket(aria-hidden=true)
				!="Merge!"